
/*ghggggggggggg*/


.cabecalho ul{

    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;

}

.logo{
    width: 60px;
}

.mas_opcoes{
    font-size: 40px;
}

